body {
   @font-face {
        font-family:'Source Sans Pro';
        font-style:normal;
        font-weight:600;
        src:local('Source Sans Pro Semibold'),
        local('SourceSansPro-Semibold'),
         url(http://themes.googleusercontent.com/static/fonts/sourcesanspro/v4/toadOcfmlt9b38dHJxOBGNF2eBBnhZOFf_rblGEjGiI.woff) format('woff');
   }
}
